<div class="container">
    
    <div class="row">
      <div class="offset-md-4"></div>
        <div class="col-md-3 bg-design">
            <h2>LOGIN HERE</h2>
          <div class="alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
          <div class="alert-success" *ngIf="infoMessage">{{infoMessage}}</div>
        <form [formGroup]="loginForm" class="text-center" #form="ngForm" (ngSubmit)="submitForm(form.value)">
          <div class="form-group text-center">
            <label for="name">Username</label>
            <input  type ="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group text-center">
            <label for="alterEgo">Password</label>
            <input type="password" class="form-control" formControlName="pwd" id="alterEgo">
          </div>
          <button class="btn btn-success" (click)="validateForm()">Login</button>
        </form>
      </div>
    </div>
  </div>