<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">
                <form [formGroup]="loginForm" role="login">
                    <img src="../../images/avatar_2x.png" class="img-responsive rounded-circle avatar-img" alt="User Profile" />
                    <div class="alert-info alert-msg" *ngIf="errorMessage">{{errorMessage}}</div>
                    <input type="email" name="email" placeholder="Email" required class="form-control input-lg" formControlName="emailId"/>
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" formControlName="password" />
                    <div class="pwstrength_viewport_progress"></div>
                    <button type="button" name="submit" class="btn btn-lg btn-primary btn-block" (click)="validateForm()">Sign in</button>
                    <div>
                        <a href="#">Create account</a> or <a href="#">reset password</a>
                    </div>
                </form>
                <div class="form-links">
                    <a href="#">www.website.com</a>
                </div>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>