<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Web Edu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container-fluid">
  <div class="container">
    <div class="text-center">
      <!--<h1 class="h1">
        Welcome to {{ title }}!
      </h1>-->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center align-middle valign-middle" >
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>